<% include ../partials/header.ejs %>
<div id="formcontainer">
    <div id="formcont">
        <h1 class="formheader">sign in</h1>
        <ul id="form">
        <form action="/user/signin" method="POST" >
            <li><input type="text" name="email" placeholder="email" class="input input1" ></li>
           <li> <input type="password" name="password" placeholder="password" class="input input2" >    </li>
            <li><button type="submit" class="input input3">login</button></li>
        </form>
         </ul>
    </div>
</div>
 <% include ../partials/footer.ejs %>